/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.* 
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpactor.json
/.idea
/.vscode
/.fleet

public/build
public/hot

react/node_modules
react/dist
react/dist-ssr
react/.vite
react/.env.local
react/*.log

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
