# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.* 
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpactor.json
/.idea
/.vscode
/.fleet

# Laravel Vite build (якщо створюєш build)
public/build
public/hot

# React / Vite (папка react)
react/node_modules
react/dist
react/dist-ssr
react/.vite
react/.env.local
react/*.log

# OS / editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
